clients/federico-sirux/workflow_genius.json
{"updatedAt":"2025-12-08T15:38:18.000Z","createdAt":"2025-12-08T15:34:01.333Z","id":"E9N08hq8lxtOQFMG","name":"Formulario FEEDBACK CURSO GENIUS (CRM)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b4de76a2-c5be-41b3-b281-5ceb596abde4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,-16],"id":"a34122dd-db92-4d24-abe6-8761d245192e","name":"Webhook","webhookId":"b4de76a2-c5be-41b3-b281-5ceb596abde4"},{"parameters":{"documentId":{"__rl":true,"value":"1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g","mode":"list","cachedResultName":"Cross Selling Nazionale Sirux","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":786988166,"mode":"list","cachedResultName":" Laborable","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit#gid=786988166"},"filtersUI":{"values":[{"lookupColumn":"CORREO","lookupValue":"={{ $('Edit Fields').item.json.Correo }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[576,-16],"id":"9d6ff60d-7e35-4cc4-ad5a-a389dbcac6af","name":"Get Rows Excel 2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"cxOdZ9yRpG8wBrJa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dbafbf1-0620-4b17-b837-df204bcba321","leftValue":"={{ $json }}","rightValue":0,"operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,-16],"id":"529c0e60-b7c4-481a-a67e-6ea34e01d4aa","name":"If 2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"MERCURY\": \"{{ (() => {\n  const respuestas = [\n    $('Edit Fields').item.json['¿Con qué centro o instructor realizaste tu primer curso?'],\n    $('Edit Fields').item.json['¿En qué ciudad has hecho el curso?'],\n    $('Edit Fields').item.json['¿Con qué centro o instructor realizaste tu primer curso ONE?']\n  ];\n  \n  const primerCurso = ($('Edit Fields').item.json['¿Cuál es el primer curso que has hecho con nosotros?'] || '').toLowerCase();\n\n  const mapaCiudades = {\n    'Zaragoza (Laura Revilla)': 'Zaragoza Laura',\n    'Barcelona (Marco Bevanati)': 'Barcelona Marco',\n    \"Barcelona (Michele D'Antino)\": 'Barcelona Michele',\n    'Palma de mallorca (Magdalena Meliá)': 'Mallorca Magdalena',\n    'Palma de Mallorca (Giulia Barci)': 'Mallorca Giulia',\n    'Málaga (Margherita Vattimo)': 'Malaga Margherita',\n    'Sevilla (Alessandro Fornelli)': 'Sevilla Alessandro',\n    'Valencia (Filippo Bruni)': 'Valencia Filippo',\n    'Valencia (Beatriz Castro)': 'Valencia Beatriz',\n    'Madrid (Theo Scacchi / Natalia Salto)': 'Madrid Theo Natalia',\n    'Madrid (Valerio Sepe)': 'Madrid Valerio',\n    'Madrid (Lucrezia Vattimo)': 'Madrid Lucrezia',\n    'Alicante (Emilia Valero)': 'Alicante Emilia',\n    'Granada (Fátima Cano)': 'Granada Fátima',\n    'Bilbao (María Calero)': 'Bilbao María',\n    'San Sebastián (Naiara Parra)': 'San Sebastián Naiara',\n    'Pamplona (Elisabeth Tornos)': 'Pamplona Elisabeth'\n  };\n\n  const respuesta = respuestas.find(r => r && mapaCiudades[r.trim()]);\n  const esCursoValido = primerCurso.includes('genial business') || primerCurso.includes('30 dias 1 idioma');\n\n  return (respuesta || esCursoValido) ? '✅' : '❌';\n})() }}\",\n\n\n\n \"INSTRUCTOR\": \"{{ \n    (() => {\n      const respuestas = [\n        $('Edit Fields').item.json['¿Con qué centro o instructor realizaste tu primer curso?'],\n        $('Edit Fields').item.json['¿En qué ciudad has hecho el curso?'],\n        $('Edit Fields').item.json['¿Con qué centro o instructor realizaste tu primer curso ONE?']\n      ];\n      \n      const respuesta = respuestas.find(r => r && r.trim() !== '') || '';\n\n      const mapaCiudades = {\n        'Zaragoza (Laura Revilla)': 'Zaragoza Laura',\n        'Barcelona (Marco Bevanati)': 'Barcelona Marco',\n        'Palma de mallorca (Magdalena Meliá)': 'Mallorca Magdalena',\n        'Málaga (Margherita Vattimo)': 'Malaga Margherita',\n        'Sevilla (Alessandro Fornelli)': 'Sevilla Alessandro',\n        'Valencia (Filippo Bruni)': 'Valencia Filippo',\n        'Valencia (Beatriz Castro)': 'Valencia Beatriz',\n        'Madrid (Theo Scacchi / Natalia Salto)': 'Madrid Theo Natalia',\n        'Madrid (Valerio Sepe)': 'Madrid Valerio',\n        'Madrid (Lucrezia Vattimo)': 'Madrid Lucrezia',\n        'Alicante (Emilia Valero)': 'Alicante Emilia',\n        'Granada (Fátima Cano)': 'Granada Fátima',\n        'Bilbao (María Calero)': 'Bilbao María',\n        'San Sebastián (Naiara Parra)': 'San Sebastián Naiara',\n        'Pamplona (Elisabeth Tornos)': 'Pamplona Elisabeth'\n      };\n\n      return mapaCiudades[respuesta] || '';\n    })()\n  }}\",\n\n  \"APELLIDOS Y NOMBRE\": \"{{ [ $('Edit Fields').item.json.Apellidos, $('Edit Fields').item.json.Nombre ].filter(Boolean).join(', ') }}\",\n  \"NOMBRE\": \"{{ $('Edit Fields').item.json.Nombre }}\",\n  \"CONTACTO\": \"{{ $('Edit Fields').item.json['Numero de contacto'] }}\",\n  \"CORREO\": \"{{ $('Edit Fields').item.json['Correo'] }}\",\n  \"EDAD\": \"{{\n    (() => {\n      const fecha = $('Edit Fields').item.json['Fecha de nacimiento'] || '';\n      if (!fecha) return '';\n      const parts = fecha.split('/');\n      if (parts.length !== 3) return '';\n      const nacimiento = new Date(parts[2], parts[1] - 1, parts[0]); \n      const hoy = new Date();\n      let edad = hoy.getFullYear() - nacimiento.getFullYear();\n      const m = hoy.getMonth() - nacimiento.getMonth();\n      if (m < 0 || (m === 0 && hoy.getDate() < nacimiento.getDate())) edad--;\n      return edad;\n    })()\n  }}\",\n\n  \"PROXIMOS EVENTOS\": \"{{ \n(() => {\n  const r1 = ($('Edit Fields').item.json['¿Quieres que te informemos de eventos?'] || '').toLowerCase().trim();\n  const r2 = ($('Edit Fields').item.json['¿Quieres que te vayamos informando de eventos que vamos haciendo a lo largo del tiempo?'] || '').toLowerCase().trim();\n\n  const afirmativos = ['si', 'sí'];\n\n  if (afirmativos.includes(r1) || afirmativos.includes(r2)) return '✅';\n  return '❌';\n})()\n}}\",\n\n\"1* CURSO\": \"{{ \n(() => { \n  const campos = ['¿Cuál es el primer curso que has hecho con nosotros?', '¿Con qué centro o instructor realizaste tu primer curso ONE?', '¿Cuál es el primer curso que has hecho con nosotros?'];\n  const v = campos.map(c => $json[c] || '').find(v => v.trim() !== '') || '';\n  const t = v.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n  if (t.includes('genius')) return '🧠';\n  if (t.includes('30 dias') || t.includes('30 días')) return '30 🌍';\n  if (t.includes('genial business') || t.includes('general business') || t.includes('business')) return '💼';\n  if (t.includes('one')) return '🔥✅';\n  return '🚪Vendible';\n})()\n}}\",\n\n  \"MES\": \"{{ new Date().toLocaleString('es-ES', { month: 'long' }) }}\",\n  \"AÑO\": \"{{ new Date().getFullYear() }}\",\n  \"MODALIDAD\": \"{{ $('Edit Fields').item.json[\"Has conocido el curso por\"] }}\",\n  \"TERMINAL ESTABLE\": \"{{ \n    $('Edit Fields').item.json['¿Quién es tu TUTOR?'] || \n    $('Edit Fields').item.json['¿Quién es el TUTOR de tu hijo/hija?'] || \n    ''\n  }}\",\n  \"CIUDAD\": \"{{ $('Edit Fields').item.json['¿En qué ciudad vives?'] || '' }}\",\n\n\n\n\n  \"COMENTARIO\": \"________________TRABAJO Y ESTUDIO_____________________\",\n\n  \"PROFESIÓN\": \"{{ $('Edit Fields').item.json['¿A qué te dedicas actualmente?'] || '' }}\",\n  \"Nivel\": \"{{ $('Edit Fields').item.json['¿Qué tipo de curso estudias?'] }}\",\n  \"Tipo\": \"{{ $('Edit Fields').item.json['¿Qué tipo de curso es?'] }}\",\n  \"Año\": \"{{ $('Edit Fields').item.json['¿En qué año estas?'] }}\",\n  \"STATUS 🚦\": \"🚪Vendible\",\n\n\n\n\n  \"COMENTARIO\": \"________________CURSOS_____________________\",\n\n \"16K\": \"❌\",\n\n  \"SSA\": \"{{ (() => {\n  const cursosRaw = $('Edit Fields').item.json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '';\n  const cursos = cursosRaw.toLowerCase();\n  const edadRaw = $('Edit Fields').item.json['EDAD'] || $('Edit Fields').item.json['Edad'] || '';\n  const edad = parseInt(String(edadRaw).replace(/\\D/g, '')) || 0;\n\n  const haHechoSSA = cursos.includes('he hecho la soft skills academy');\n  const estaCursandoSSA = cursos.includes('estoy haciendo la soft skills academy');\n\n  if (haHechoSSA) return '🏁 Acabado';\n  if (estaCursandoSSA) return '🎓 Actualmente Skiller';\n\n  if (edad >= 18 && edad <= 25) return '🚪 Vendible';\n  return 'NoInTarget'; })()}}\",\n\n\n\n  \"COMENTARIO\": \"________________CURSOS PRINCIPALES_____________________\",\n\n\n  \"GENIUS\": \"{{ (() => {\n  const cursos = String($json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '');\n  const haHechoRaw = $json['Has hecho el curso para'] || '';\n  const haHecho = haHechoRaw\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim()\n    .toLowerCase();\n\n  if (haHecho === 'conseguir objetivos de estudio') return '✅ REALIZADO';\n  if (haHecho === 'acompanar a mi hijo/hija') return '🦮 ACOMPAÑANTE';\n\n  if (\n    haHecho === 'acompanar a mi hijo/hija y quizas aprender algo yo tambien' ||\n    haHecho === 'acompanar a mi hijo/hija y aprender algo tambien'\n  ) return '🦮💡 ACOMPAÑANTE INTERESADO';\n\n  if (haHecho === 'aprender idiomas') return '🌎 X IDIOMA';\n\n  if (\n    cursos.includes('He hecho el curso Genius como ALUMNO') ||\n    cursos.includes('He hecho el curso como alumno')\n  ) return '✅ REALIZADO';\n\n  if (cursos.includes('He hecho el curso como padre/madre acompañante')) return '🦮 ACOMPAÑANTE';\n\n  if (\n    cursos.includes('Estoy apuntado al curso Genius') ||\n    cursos.includes('Estoy Apuntado al curso Genius')\n  ) return '✍️';\n\n  const metodo = $json['Área interés método aprendizaje'] || '';\n  if (metodo === '4 – Me interesa' || metodo === '5 – Me interesa mucho') return '💡';\n\n  return '🚪 VENDIBLE';\n})() }}\",\n\n\n\n\n\n  \"30_dias_1_idioma\": \"{{ (() => {\n  const haHecho = String($json['Has hecho el curso para'] || '');\n  const cursos = String($json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '');\n  const pendiente = $json['¿Tienes pendiente aprender un idioma?'] || '';\n  const interes = $json['Área interés idioma en 30 días'] || '';\n\n  if (haHecho === 'Aprender Idiomas') return '🧠 X GENIUS';\n\n  if (cursos.includes('He finalizado el protocolo de 30 dias 1 idioma')) return '✅ REALIZADO';\n  if (cursos.includes('Estoy Siguiendo el protocolo de 30 dias 1 idioma')) return '✍️ EN CURSO';\n\n  if (\n    cursos.includes('Estoy siguiendo el protocolo de 30 días 1 idioma') ||\n    cursos.includes('He finalizado el protocolo de 30 días 1 idioma')\n  ) return '💰 YA VENDIDO';\n\n  if (pendiente === 'Si' || pendiente === 'Sí') return '🚪 VENDIBLE';\n\n  if (interes === '5 – Me interesa mucho' || interes === '4 – Me interesa') return '📌 INTERESADO';\n  if (interes === '3 – Podría interesarme') return 'PENDIENTE';\n  if (interes === '2 – Poco' || interes === '1 – Muy poco') return '❌ NO INTERESADO';\n  if (interes === '0 – Nada de interés') return '🚫 RECHAZADO';\n\n  return '🚫 NO EN TARGET';\n})() }}\",\n\n\n\n\n\n  \"Genial_Business\": \"{{ (() => {\n  const centro = $json['¿Con qué centro o instructor realizaste tu primer curso?'] || '';\n  const cursos = String($json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '');\n  const coordina = $json['¿En tu trabajo tienes que coordinar un grupo de personas?'] || '';\n  const interes = $json['Área interés método aprendizaje'] || '';\n  const gestion = $json['Área interés gestión equipos'] || '';\n\n  const situacionRaw =\n    $json['¿Estudias o trabajas?'] ||\n    $json['¿Estudias o trabajas? '] ||\n    $json['¿Estudias o trabajas?  '] ||\n    '';\n\n  const situacion = situacionRaw.trim().toLowerCase().replace('.', '');\n  const noEnTargetSituacion = ['solo estudio', 'ni estudio ni trabajo'];\n\n  if (noEnTargetSituacion.includes(situacion)) return '🚫 NO EN TARGET';\n\n  if (centro === 'Genial Business' || centro === 'General Business') return '✅ REALIZADO';\n\n  if (\n    cursos.includes('He hecho el curso Genial Business') ||\n    cursos.includes('He hecho el curso General Business')\n  ) return '✅ REALIZADO';\n\n  if (\n    cursos.includes('Estoy apuntado al curso Genial Business') ||\n    cursos.includes('Estoy Apuntado al curso Genial Business')\n  ) return '✍️ FIRMA';\n\n  if (coordina.startsWith('Sí') || interes === '3 – Podría interesarme')\n    return '🚪 VENDIBLE';\n\n  if (\n    interes === '5 – Me interesa mucho' ||\n    interes === '4 – Me interesa' ||\n    gestion === '5 – Me interesa mucho' ||\n    gestion === '4 – Me interesa'\n  ) return '📌 INTERESADO';\n\n  if (\n    interes === '2 – Poco' ||\n    interes === '1 – Muy poco' ||\n    interes === '0 – Nada de interés' ||\n    coordina === 'No, recibo tareas e indicaciones'\n  ) return '🚫 NO EN TARGET';\n\n  return '';\n})() }}\",\n\n\n\n  \"One Echos\": \"{{\n(() => {\n  const r1 = $('Edit Fields').item.json['¿Cuántas veces has hecho el One hasta ahora?'] || '';\n  const r2 = $('Edit Fields').item.json['¿Cuántas veces has hecho ONE?'] || '';\n  const cursos = $('Edit Fields').item.json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '';\n\n  let base = Number((r1 || r2).toString().trim());\n\n  if (isNaN(base)) base = 0;\n\n  const cursosNorm = cursos.toLowerCase();\n\n  if (cursosNorm.includes('he hecho el curso one')) {\n    base = base + 1;\n  }\n\n  return String(base);\n})()\n}}\",\n\n\n\n\n  \"Proximo One\": \"{{(() => {\n    const proximo = $('Edit Fields').item.json['¿Vas a participar al próximo One (Febrero 2026)'] || '';\n    const cursos = $('Edit Fields').item.json['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] || '';\n\n    const proximoNorm = proximo.toLowerCase();\n    const cursosNorm = cursos.toLowerCase();\n\n    if (cursosNorm.includes('estoy apuntado al curso one')) {\n      return '✍️ APUNTADO';\n    }\n\n    if (proximoNorm.includes('estoy apuntado') || proximoNorm.includes('apuntado'))\n      return '✍️ FIRMA';\n\n    if (proximoNorm.includes('no me interesa'))\n      return '🥱 NO INTERESADO';\n\n    if (proximoNorm.includes('valorando'))\n      return '🤔 VALORANDO';\n\n    return ''; })()}}\",\n\n\n\n  \"Domina tu discurso\": \"{{(() => {\n      const interes = $('Edit Fields').item.json['Área interés hablar en público'] || '';\n      if (interes === '0 – Nada de interés') return '🚫 RECHAZADO';\n      if (interes === '1 – Muy poco' || interes === '2 – Poco') return '❌ NO INTERESADO';\n      if (interes === '3 – Podría interesarme') return '🚪 VENDIBLE';\n      if (interes === '4 – Me interesa' || interes === '5 – Me interesa mucho') return '📌 INTERESADO';\n      return '🚪 VENDIBLE';\n    })()\n  }}\",\n\n  \"Genius Kids\": \"{{ \n    (() => {\n      const familia = $('Edit Fields').item.json['En tu núcleo familiar'] || '';\n      if (familia.includes('Hijos entre 8 y 12 años') || \n          familia.includes('Hijos entre 13 y 15 años') ||\n          familia.includes('¿Tienes hijos de 8 a 12 años?') ||\n          familia.includes('¿Tienes hijos de 13 a 15 años?')) return '🚪 VENDIBLE';\n      return '🚫 NO EN TARGET';\n    })()\n  }}\",\n\n\n\n\n\n  \"COMENTARIO\": \"________________FOLLOW UPS_____________________\",\n\n\n  \"L Rapida\": \"{{ \n    (() => {\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const profundizacion = $('Edit Fields').item.json['¿Has participado a las clases de profundización?'] || '';\n      \n      if (profundizacion.includes('Lectura rápida')) return '✅ REALIZADO';\n      if (haHecho === 'Conseguir objetivos de estudio' || haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      if (haHecho === 'Acompañar a mi hijo/hija') return '🚫 NO EN TARGET';\n      return '🚪 VENDIBLE';\n    })()\n  }}\",\n\n  \"G Tiempo\": \"{{ \n    (() => {\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const profundizacion = $('Edit Fields').item.json['¿Has participado a las clases de profundización?'] || '';\n      \n      if (profundizacion.includes('Gestión del tiempo')) return '✅ REALIZADO';\n      if (haHecho === 'Conseguir objetivos de estudio' || haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      if (haHecho === 'Acompañar a mi hijo/hija') return '🚫 NO EN TARGET';\n      return '🚪 VENDIBLE';\n    })()\n  }}\",\n\n  \"Estress e IA\": \"{{ \n    (() => {\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const profundizacion = $('Edit Fields').item.json['¿Has participado a las clases de profundización?'] || '';\n      \n      if (profundizacion.includes('Gestión del estrés') || profundizacion.includes('Inteligencia Artificial')) return '✅ REALIZADO';\n      if (haHecho === 'Conseguir objetivos de estudio' || haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      if (haHecho === 'Acompañar a mi hijo/hija') return '🚫 NO EN TARGET';\n      return '🚪 VENDIBLE';\n    })()\n  }}\",\n\n  \"Estudiantes\": \"{{\n    (() => {\n      const estudiasTrabajas = $('Edit Fields').item.json['¿Estudias o trabajas?'] || '';\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const followUp = $('Edit Fields').item.json['¿Has participado al follow up temático?'] || '';\n      \n      if (estudiasTrabajas.toLowerCase().includes('solo trabajo')) return '🚫 NO EN TARGET';\n      if (haHecho === 'Conseguir objetivos de estudio') return '💡 INTERESADO';\n      if (haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      if (haHecho.includes('Acompañar a mi hijo/hija')) return '🚫 NO EN TARGET';\n      if (followUp === 'Estudiantes') return '📌 INTERESADO';\n      \n      return '';\n    })()\n  }}\",\n\n  \"Idiomas\": \"{{\n    (() => {\n      const pendiente = $('Edit Fields').item.json['¿Tienes pendiente aprender un idioma?'] || '';\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const followUp = $('Edit Fields').item.json['¿Has participado al follow up temático?'] || '';\n      \n      if (pendiente === 'Si' || pendiente === 'Sí' || \n          haHecho === 'Conseguir objetivos de estudio' || \n          haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      \n      if (followUp === 'Idiomas') return '📌 INTERESADO';\n      \n      if (pendiente === 'No' || haHecho === 'Acompañar a mi hijo/hija') return '🚫 NO EN TARGET';\n      \n      return '';\n    })()\n  }}\",\n\n  \"Profesionales\": \"{{\n    (() => {\n      const agendado = $('Edit Fields').item.json['¿Has agendado el follow up de los profesionales?'] || '';\n      const estudiasTrabajas = $('Edit Fields').item.json['¿Estudias o trabajas?'] || '';\n      const haHecho = $('Edit Fields').item.json['Has hecho el curso para'] || '';\n      const followUp = $('Edit Fields').item.json['¿Has participado al follow up temático?'] || '';\n      const participado = $('Edit Fields').item.json['Has Participado al follow up dedicado a los profesionales?'] || '';\n      \n      if (agendado.toLowerCase().includes('no y no me interesa')) return '🥱 NO INTERESADO';\n      if (estudiasTrabajas.toLowerCase().includes('solo estudio')) return '🚫 NO EN TARGET';\n      \n      if (haHecho === 'Conseguir objetivos de estudio' || \n          haHecho.includes('Acompañar a mi hijo/hija') || \n          haHecho === 'Aprender Idiomas') return '🚪 VENDIBLE';\n      \n      if (agendado === 'Sí' || followUp === 'Profesionales' || participado === 'Sí') return '📌 INTERESADO';\n      if (agendado === 'Sí, pero no confirmado') return 'PENDIENTE';\n      \n      return '';\n    })()\n  }}\",\n\n\n\n\n  \"COMENTARIO\": \"________________EVENTOS_____________________\",\n\n\n  \"Evento Vendido al curso\": \"{{ \n    (() => {\n      const evento = $('Edit Fields').item.json['Evento finde atención'] || '';\n      if (evento === 'Sí') return '💡 INTERESADO';\n      if (evento === 'No') return '🥱 NO INTERESADO';\n      if (evento.toLowerCase().includes('más o menos')) return '🚪 VENDIBLE';\n      return '';\n    })()\n  }}\",\n\n\n\n  \"One Shot 21/09\": \"\",\n  \"Target\": \"{{ $('Edit Fields').item.json['Target 14 diciembre'] ? '📌 INTERESADO' : '' }}\",\n  \"Familia 2.0\": \"{{ $('Edit Fields').item.json['Escanea tu familia'] || '' }}\",\n  \"Comunic- Arte\": \"{{\n    (() => {\n      const interes = $('Edit Fields').item.json['Área interés comunicación y mediación'] || '';\n      if (interes === '0' || interes === '0 – Nada de interés') return '❌ RECHAZADO';\n      if (interes === '1' || interes === '1 – Muy poco' || interes === '2' || interes === '2 – Poco') return '🥱 NO INTERESADO';\n      if (interes === '3' || interes === '3 – Podría interesarme') return '🚪 VENDIBLE';\n      if (interes === '4' || interes === '4 – Me interesa') return '💡 TEMPLADO';\n      if (interes === '5' || interes === '5 – Me interesa mucho') return '💡🔥 CALIENTE';\n      return '';\n    })()\n  }}\",\n\n  \"Riqueza sin limites\": \"{{\n    (() => {\n      const interes = $('Edit Fields').item.json['Área interés gestión económica'] || '';\n      if (interes === '0' || interes === '0 – Nada de interés') return '❌ RECHAZADO';\n      if (interes === '1' || interes === '1 – Muy poco' || interes === '2' || interes === '2 – Poco') return '🥱 NO INTERESADO';\n      if (interes === '3' || interes === '3 – Podría interesarme') return '🚪 VENDIBLE';\n      if (interes === '4' || interes === '4 – Me interesa') return '💡 TEMPLADO';\n      if (interes === '5' || interes === '5 – Me interesa mucho') return '💡🔥 CALIENTE';\n      return '';\n    })()\n  }}\",\n\n  \"Hackea tu cuerpo\": \"{{\n    (() => {\n      const curiosidad = $('Edit Fields').item.json['Otros temas curiosidad'] || '';\n      if (!curiosidad) return '';\n      if (curiosidad.includes('Ninguno de estos')) return '❌ RECHAZADO CONTENIDO';\n      if (curiosidad.includes('Salud y bienestar')) return '🚪 VENDIBLE';\n      if (curiosidad.includes('Gestión económica') || curiosidad.includes('Networking') || curiosidad.includes('Comunicación y Mediación')) return '💡 TEMPLADO';\n      if (curiosidad.includes('Crecimiento personal') || curiosidad.includes('Hablar en público')) return '💡🔥 CALIENTE';\n      return '';\n    })()\n  }}\",\n\n  \"Venta\": \"{{\n    (() => {\n      const interes = $('Edit Fields').item.json['Área interés ventas'] || '';\n      if (interes === '0' || interes === '0 – Nada de interés') return '❌ RECHAZADO';\n      if (interes === '1' || interes === '1 – Muy poco' || interes === '2' || interes === '2 – Poco') return '🥱 NO INTERESADO';\n      if (interes === '3' || interes === '3 – Podría interesarme') return '🚪 VENDIBLE';\n      if (interes === '4' || interes === '4 – Me interesa') return '💡 TEMPLADO';\n      if (interes === '5' || interes === '5 – Me interesa mucho') return '💡🔥 CALIENTE';\n      return '';\n    })()\n  }}\",\n\n  \"Networking\": \"{{\n    (() => {\n      const interes = $('Edit Fields').item.json['Área interés networking'] || '';\n      if (interes === '0' || interes === '0 – Nada de interés') return '❌ RECHAZADO';\n      if (interes === '1' || interes === '1 – Muy poco' || interes === '2' || interes === '2 – Poco') return '🥱 NO INTERESADO';\n      if (interes === '3' || interes === '3 – Podría interesarme') return '🚪 VENDIBLE';\n      if (interes === '4' || interes === '4 – Me interesa') return '💡 TEMPLADO';\n      if (interes === '5' || interes === '5 – Me interesa mucho') return '💡🔥 CALIENTE';\n      return '';\n    })()\n  }}\",\n\n\n\n\n\n\n  \"COMENTARIO\": \"________________OBJETIVOS Y ENCUESTA_____________________\",\n\n\n  \"OBJETIVO DEL CURSO\": \"{{ \n(() => {\n  const data = $('Edit Fields').item.json || {};\n  const posiblesCampos = [\n    'DESCRIBE TU OBJETIVO CON EL CURSO:',\n    'Describe tu objetivo con el curso',\n    'DESCRIBE TU OBJETIVO CON EL CURSO: (2)',\n    '¿Cual era tu objetivo con el curso?',\n    '¿Tienes algún objetivo de estudio?',\n    '¿Cual era tu objetivo con el curso? (2)',\n    '¿Cual era tu objetivo con el curso? (3)',\n    '¿Cual era tu objetivo del curso?',\n    '¿Cuál es la principal mejora que deseabas para tu hijo/hija?',\n    'Cual es la principal mejora que desea para tu hijo/hija?'\n  ];\n\n  for (const campo of posiblesCampos) {\n    const valor = data[campo];\n    if (valor && valor !== 'undefined' && valor.trim() !== '') {\n      return valor;\n    }\n  }\n  return '';\n})()\n}}\",\n\n  \"E.MATERIAL DEL CURSO\": \"{{ $('Edit Fields').item.json['Satisfacción material del curso'] }}\",\n  \"E.STAFF\": \"{{ $('Edit Fields').item.json['Satisfacción staff'] }}\",\n  \"E.INSTRUCTOR\": \"{{ $('Edit Fields').item.json['Satisfacción instructor'] }}\",\n  \"E.MOTIVACIÓN\": \"{{ $('Edit Fields').item.json['Satisfacción motivación'] }}\",\n  \"E.RELAJACIÓN\": \"{{ $('Edit Fields').item.json['Satisfacción relajación'] }}\",\n  \"E.LECTURA RAPIDA\": \"{{ $('Edit Fields').item.json['Satisfacción lectura rápida'] }}\",\n  \"E.MAPAS MENTALES\": \"{{ $('Edit Fields').item.json['Satisfacción mapas mentales'] }}\",\n  \"E.TECNICAS DE MEMORIA\": \"{{ $('Edit Fields').item.json['Satisfacción técnicas de memoria'] }}\",\n  \"E.METODO DE ESTUDIO\": \"{{ $('Edit Fields').item.json['Satisfacción método de estudio'] }}\",\n  \"E.IDIOMAS EXTRANJEROS\": \"{{ $('Edit Fields').item.json['Satisfacción idiomas extranjeros'] }}\",\n  \"Comunicación\": \"{{ $('Edit Fields').item.json['¿Hay algo que quieras comunicarnos?'] }}\",\n  \"NOMBRE 1\": \"{{ $('Edit Fields').item.json['Persona recomendación 1'] }}\",\n  \"NOMBRE 2\": \"{{ $('Edit Fields').item.json['Persona recomendación 2'] }}\",\n  \"NOMBRE 3\": \"{{ $('Edit Fields').item.json['Persona recomendación 3'] }}\",\n  \"NOMBRE 4\": \"{{ $('Edit Fields').item.json['Persona recomendación 4'] }}\",\n  \"NOMBRE 5\": \"{{ $('Edit Fields').item.json['Persona recomendación 5'] }}\",\n  \"COMENTARIO PROFU Y FOLLOW UP\": \"\",\n  \"NOTAS\": \"\"\n\n\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-16],"id":"1968ec8b-498f-4f0f-a0f1-6024b370a857","name":"Etiquetas"},{"parameters":{"mode":"raw","jsonOutput":"={\n\n\"_comentario\": \"__________________CONTACTO__________________\",\n\n\"Timestamp\": \"{{ $json.body['Timestamp'] }}\",\n  \"Marca temporal\": \"{{ $json.body['Marca temporal'] }}\",\n  \"Apellidos\": \"{{ $json.body['Apellidos'] }}\",\n  \"Nombre\": \"{{ $json.body['Nombre'] }}\",\n  \"Correo\": \"{{ $json.body.Correo }}\",\n  \"Fecha de nacimiento\": \"{{ $json.body['Fecha de nacimiento'] }}\",\n\n\"Numero de contacto\": \"{{ ($json.body?.['Número Contacto (en que tienes whatsapp)'] || $json.body?.['Número de contacto (en el que tienes whatsapp)'] || \n  $json['Número Contacto (en que tienes whatsapp)'] || \n  $json['Número de contacto (en el que tienes whatsapp)'] || \n  '').toString().replace(/\\D+/g, '') }}\",\n\n  \"¿Cómo prefieres que te llamemos si te contactamos?\": \"{{ $json.body['¿Cómo prefieres que te llamemos si te contactamos?'] }}\",\n\n\"¿En qué ciudad vives?\": \"{{ \n  $json.body?.['¿En qué ciudad vives? (si es un pueblo indica la ciudad grande más cercana)?'] ||\n  $json.body?.['¿En qué ciudad vives? (si es un pueblo indica la ciudad grande más cercana)'] ||\n  $json['¿En qué ciudad vives? (si es un pueblo indica la ciudad grande más cercana)?'] ||\n  $json['¿En qué ciudad vives? (si es un pueblo indica la ciudad grande más cercana)'] || ''}}\",\n\n\n\n\"Primer Curso\": \"{{ $json.body['¿Cuál es el primer curso que has hecho con nosotros?'] || $json.body['¿Cuál es el primer curso que has hecho con nosotros?'] }}\",\n\n\n\n\n\"_comentario\": \"_______________________TUTOR INSTRUCTOR__________________\",\n\n\n \"¿Con qué centro o instructor realizaste tu primer curso ONE?\": \"{{ $json.body['¿Con qué centro o instructor realizaste tu primer curso ONE?'] }}\",\n\n\n\n  \"¿Quién es el tutor de tu hijo/hija? (sin tilde)\": \"{{ $json.body['Quien es el TUTOR de tu hijo/hija?'] }}\",\n\n\"¿Quién es tu TUTOR?\": \"{{ $json.body['¿Quién es tu TUTOR?'] || $json.body['¿Quién es tu TUTOR? (2)'] || $json.body['¿Quién es tu TUTOR? (3)'] }}\",\n  \"¿Quién es el TUTOR de tu hijo/hija?\": \"{{ $json.body['¿Quién es el TUTOR de tu hijo/hija?'] || $json.body['¿Quién es el TUTOR de tu hijo/hija? (2)'] }}\",\n\n\n \"¿En qué ciudad has hecho el curso?\": \"{{ $json.body['¿En qué ciudad has hecho el curso?'] }}\",  \n \n  \"Año\": \"{{ $json.body['Año'] }}\",\n  \"En qué mes\": \"{{ $json.body['En qué mes?'] }}\",\n\n\n\n\n\n\"_comentario\": \"__________________TRABAJO O ESTUDIO__________________\",\n\n\"¿Estudias o trabajas?\": \"{{ \n  $json.body?.['¿Estudias o trabajas?'] ||\n  $json.body?.['Estudias o trabajas?'] ||\n  $json['¿Estudias o trabajas?'] ||\n  $json['Estudias o trabajas?'] || ''}}\",\n \n  \"¿A qué te dedicas actualmente? (sin tildes)\": \"{{ $json.body['A que te dedicas actualmente? (especifica actividad y cargo)'] || $json.body['A que te dedicas actualmente? (especifica actividad y cargo) (2)'] || $json.body['A que te dedicas actualmente? (especifica actividad y cargo) (3)'] }}\",\n\n  \"¿Trabajas de algo?\": \"{{ $json.body['Trabajas de algo'] || $json.body['Trabajas de algo?'] || $json.body['Trabajas de algo? (2)'] || $json.body['Trabajas de algo? (3)'] }}\",\n\n  \"¿En tu trabajo tienes que coordinar un grupo de personas? (almenos 3)\": \"{{ $json.body['En tu trabajo tienes que coordinar un grupo de personas? (almenos 3)'] || $json.body['En tu trabajo tienes que coordinar un grupo de personas? (almenos 3) (2)'] || $json.body['En tu trabajo tienes que coordinar un grupo de personas? (almenos 3) (3)'] }}\",\n\n\"¿Estás estudiando algo en este momento?\": \"{{ $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (2)'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (3)'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (4)'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (5)'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (6)'] || $json.body['Estas estudiando algo en este momento? Si la respuesta es si, por favor especifica que estudias (7)'] }}\",\n\n \"¿Qué tipo de curso estudias?\": \"{{ $json.body['¿Qué estudias?'] || $json.body['¿Qué estudias? (2)'] }}\",\n\n  \"¿Qué tipo de curso es?\": \"{{ $json.body['¿Qué especialidad es?'] || $json.body['¿Qué especialidad es? (2)'] }}\",\n\n  \"¿En qué año estas?\": \"{{ $json.body['¿En qué año estas?'] || $json.body['¿En qué año estas? (2)'] || $json.body['¿En qué año estás? (2)'] || $json.body['¿En qué año estás?']}}\",\n\n  \"¿A qué te dedicas actualmente?\": \"{{ $json.body['¿A qué te dedicas actualmente? (especifica actividad y cargo)'] || $json.body['¿A qué te dedicas actualmente? (especifica actividad y cargo) (2)'] }}\",\n  \"¿En tu trabajo tienes que coordinar un grupo de personas?\": \"{{ $json.body['¿En tu trabajo tienes que coordinar un grupo de personas? (mínimo 3)'] || $json.body['¿En tu trabajo tienes que coordinar un grupo de personas? (almenos 3)'] }}\",\n  \"¿Te gustaría cambiar de profesión?\": \"{{ $json.body['¿Te gustaría cambiar de profesión?'] || $json.body['Tienes el deseo de cambiar de profesión?'] }}\",\n\n\n\n\n\n\n\"_comentario\": \"__________________DE DONDE SABER DEL CURSO__________________\",\n\n  \"Has conocido el curso por\": \"{{ $json.body['Has conocido el curso por:'] || $json.body['Has conocido el curso por: (2)'] }}\",\n\n \"¿Te acuerdas del nombre de la primera persona que te lo ha recomendado?\": \"{{ \n( $json.body?.['¿Te acuerdas del nombre de la primera persona que te lo ha recomendado?'] ||\n  $json.body?.['Te acuerdas el nombre de la primera persona que te lo ha comentado?'] || $json.body?.['¿Te acuerdas del nombre de la primera persona que te lo ha comentado?'] ||\n  $json['¿Te acuerdas del nombre de la primera persona que te lo ha recomendado?'] ||\n  $json['Te acuerdas el nombre de la primera persona que te lo ha comentado?'] ||\n  $json['¿Te acuerdas del nombre de la primera persona que te lo ha comentado?'] ||\n  '').toString().trim() }}\",\n\n \"Primera vez\": \"{{ \n  $json.body?.['¿Es la primera vez que haces el curso o lo estás repitiendo?'] ||\n  $json.body?.['Es la primera vez que haces el curso o lo estás repitiendo?'] ||\n  $json.body?.['¿Es la primera vez que haces el curso o lo estas repitiendo?'] ||\n  $json.body?.['Es la primera vez que haces el curso o lo estas repitiendo?'] ||\n  $json['¿Es la primera vez que haces el curso o lo estás repitiendo?'] ||\n  $json['Es la primera vez que haces el curso o lo estás repitiendo?'] ||\n  $json['¿Es la primera vez que haces el curso o lo estas repitiendo?'] ||\n  $json['Es la primera vez que haces el curso o lo estas repitiendo?'] ||\n  ''}}\",\n\n\n\n\n\"_comentario\": \"__________________OBJETIVO CURSO__________________\",\n\n\"¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?\": \"{{ $json.body['¿Cuáles son los cursos que has hecho o vas a hacer con nosotros?'] }}\",\n\n  \"¿Has conseguido el resultado que querías con el curso?\": \"{{ $json.body['Has conseguido el resultado que querias con el curso?'] || $json.body['¿Has conseguido el resultado que querías con el curso?'] }}\",\n  \"¿En qué mes (sin tilde)?\": \"{{ $json.body['En que Mes?'] || $json.body['En que Mes? (2)'] }}\",\n  \"Año (2-4)\": \"{{ $json.body['Año (2)'] || $json.body['Año (3)'] || $json.body['Año (4)'] }}\",\n \n  \"Has hecho el curso para\": \"{{ $json.body['Has hecho el curso para:'] || $json.body['Has hecho el curso para: (2)'] }}\",\n  \n  \"¿Tienes pendiente aprender un idioma?\": \"{{ $json.body['¿Tienes pendiente aprender un idioma?'] || $json.body['¿Tienes pendiente aprender un idioma? (2)'] || $json.body['¿Tienes pendiente aprender un idioma? (3)'] || $json.body['¿Tienes pendiente aprender un idioma? (4)'] }}\",\n\n  \"Describe tu objetivo con el curso\": \"{{ $json.body['DESCRIBE TU OBJETIVO CON EL CURSO:'] || $json.body['DESCRIBE TU OBJETIVO CON EL CURSO: (2)'] || $json.body['¿Cual era tu objetivo con el curso?'] || $json.body['¿Cual era tu objetivo con el curso? (2)'] || $json.body['¿Cual era tu objetivo con el curso? (3)'] }}\",\n\n  \"¿Tienes algún objetivo de estudio?\": \"{{ $json.body['¿Tienes algún objetivo de estudio?'] }}\",\n\n  \"¿Has agendado el follow up de los profesionales?\": \"{{ $json.body['¿Has agendado el follow up de los profesionales?'] }}\",\n \n \"¿Quieres repetir el curso en la próxima fecha disponible?\": \"{{ $json.body['¿Quieres repetir el curso en la próxima fecha disponible?'] || $json.body['¿Quieres repetir el curso en la próxima fecha disponible? (2)'] }}\",\n\n  \"¿Quieres participar a los follow ups cuando se repitan?\": \"{{ $json.body['¿Quieres participar a los follow ups cuando se repitan?'] }}\",\n\n  \"¿A cuál de los otros follow up temático te gustaría participar?\": \"{{ $json.body['¿A cuál de los otros follow up temático te GUSTARÍA participar?'] }}\",\n  \"¿Has participado a los follow up post Curso?\": \"{{ $json.body['¿Has participado a los follow up post Curso?'] }}\",\n\n  \"¿Tienes pendiente mejorar algo a nivel de estudio o idiomas?\": \"{{ $json.body['Tienes pendiente mejorar algo a nivel de estudio o idiomas?'] }}\",\n\n\"¿En este momento de tu vida sientes que la habilidad de hablar en público es una necesidad para ti?\": \"{{ $json.body['En este momento de tu vida sientes que la habilidad de hablar en publico es una necesidad para ti?'] }}\",\n\n \"Has Participado al follow up dedicado a los profesionales?\": \"{{ $json.body['Has Participado al follow up dedicado a los profesionales?'] }}\",\n\n  \"¿Has conseguido el resultado que querías con el Curso Genius?\": \"{{ $json.body['¿Has conseguido el resultado que querías con el Curso Genius?'] }}\",\n\n  \"¿Has participado al follow up temático?\": \"{{ $json.body['¿Has participado al follow up temático?'] }}\",\n\n  \n\n  \"¿Has participado a las clases de profundización?\": \"{{ $json.body['¿Has participado a las clases de profundización?'] }}\",\n\n  \"¿Sabes qué es el networking?\": \"{{ $json.body['¿Sabes que es el networking?'] || $json.body['¿Sabes que es el \\\"networking\\\"? (2)'] }}\",\n\n  \"¿Cuál es la principal mejora que deseas para tu hijo/hija?\": \"{{ $json.body['¿Cuál es la principal mejora que deseabas para tu hijo/hija?'] || $json.body['Cual es la principal mejora que desea para tu hijo/hija?'] }}\",\n\n\"¿Sabes qué es el networking?\": \"{{ $json.body['¿Sabes que es el networking?'] || $json.body['¿Sabes que es el \\\"networking\\\"? (2)'] }}\",\n \n\n\n\n\n\n\"_comentario3\": \"__________________CITAS EVENTOS__________________\",\n\n\"¿Vas a participar al próximo One (Febrero 2026)\": \"{{ $json.body['¿Vas a participar al próximo One (Febrero 2026)'] }}\",\n\n \"¿Quieres que te informemos de eventos?\": \"{{ $json.body['¿Quieres que te vayamos informando de eventos que vamos haciendo a lo largo del tiempo?'] }}\",\n\n \"¿Has agendado la cita en el enlace de arriba?\": \"{{ $json.body['¿Has agendado la cita en el enlace aquí arriba?'] }}\",\n\n  \"¿Quieres que agendemos una cita para profundizar en Genial Business?\": \"{{ $json.body['¿Quieres que agendemos una cita para profundizar en algún tema de Genial Business?'] }}\",\n\n\n\n\"_comentario2\": \"__________________ENCUESTA__________________\",\n\n\"¿Hay algo que quieras comunicarnos?\": \"{{ $json.body['¿Hay algo que te gustaría comunicarnos?'] }}\",\n\n \"Persona recomendación 1\": \"{{ $json.body['1. Nombre, apellido - quien es esta persona para ti'] }}\",\n\"Persona recomendación 2\": \"{{ $json.body['2. Nombre, apellido - quien es esta persona para ti'] }}\",\n\"Persona recomendación 3\": \"{{ $json.body['3. Nombre, apellido - quien es esta persona para ti'] }}\",\n\"Persona recomendación 4\": \"{{ $json.body['4. Nombre, apellido - quien es esta persona para ti'] }}\",\n\"Persona recomendación 5\": \"{{ $json.body['5. Nombre, apellido - quien es esta persona para ti'] }}\",\n\n\n\"Área interés comunicación y mediación\": \"{{ $json.body['¿Qué área te interesa más? [Comunicación y Mediación]'] }}\",\n  \"Área interés networking\": \"{{ $json.body['¿Qué área te interesa más? [Networking]'] }}\",\n  \"Área interés salud y bienestar\": \"{{ $json.body['¿Qué área te interesa más? [Salud y bienestar]'] }}\",\n  \"Área interés ventas\": \"{{ $json.body['¿Qué área te interesa más? [Ventas]'] }}\",\n\n\n \"Autorización tratamiento datos\": \"{{ $json.body['Autorizo el tratamiento de mis datos personales y sensibles de acuerdo con el Decreto Legislativo del 30 de junio del 2003, n. 196 - Código en materia de protección de los datos personales.'] }}\",\n  \"Satisfacción material del curso\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MATERIAL DEL CURSO]'] }}\",\n  \"Satisfacción staff\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [STAFF]'] }}\",\n  \"Satisfacción instructor\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [INSTRUCTOR]'] }}\",\n  \"Satisfacción motivación\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MOTIVACIÓN]'] }}\",\n  \"Satisfacción relajación\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [RELAJACIÓN]'] }}\",\n  \"Satisfacción lectura rápida\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [LECTURA RÁPIDA]'] }}\",\n  \"Satisfacción mapas mentales\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MAPAS MENTALES]'] }}\",\n  \"Satisfacción técnicas de memoria\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [TÉCNICAS DE MEMORIA]'] }}\",\n  \"Satisfacción método de estudio\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MÉTODO DE ESTUDIO]'] }}\",\n  \"Satisfacción idiomas extranjeros\": \"{{ $json.body['MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [IDIOMAS EXTRANJEROS]'] }}\",\n  \"En tu núcleo familiar\": \"{{ $json.body['En tu nucleo familiar:'] }}\",\n  \"Evento finde atención\": \"{{ $json.body['Durante el finde se ha comentado un evento que haremos en las próximas semanas, ¿consideras que te ha llamado la atención?'] }}\",\n  \"Área interés método aprendizaje\": \"{{ $json.body['¿Qué área te interesa más? [Método de aprendizaje]'] || $json.body['¿Qué área te interesa más? [Método de estudio]'] }}\",\n  \"Área interés gestión equipos\": \"{{ $json.body['¿Qué área te interesa más? [Gestión de equipos y personas]'] }}\",\n  \"Área interés crecimiento personal\": \"{{ $json.body['¿Qué área te interesa más? [Crecimiento personal]'] }}\",\n  \"Área interés idioma en 30 días\": \"{{ $json.body['¿Qué área te interesa más? [Aprender un idioma en 30 días]'] }}\",\n  \"Área interés gestión económica\": \"{{ $json.body['¿Qué área te interesa más? [Gestión económica]'] }}\",\n  \"Área interés hablar en público\": \"{{ $json.body['¿Qué área te interesa más? [Hablar en público]'] }}\",\n  \"Área interés comunicación y mediación\": \"{{ $json.body['¿Qué área te interesa más? [Comunicación y Mediación]'] }}\",\n  \"Área interés networking\": \"{{ $json.body['¿Qué área te interesa más? [Networking]'] }}\",\n  \"Área interés salud y bienestar\": \"{{ $json.body['¿Qué área te interesa más? [Salud y bienestar]'] }}\",\n  \"Área interés ventas\": \"{{ $json.body['¿Qué área te interesa más? [Ventas]'] }}\",\n  \"Otros temas curiosidad\": \"{{ $json.body['¿Qué otros temas te generan curiosidad? (puedes marcar varios)'] }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-16],"id":"13d97468-6e9e-48d8-8c0d-53706a9b0e79","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g","mode":"list","cachedResultName":"Cross Selling Nazionale Sirux","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":786988166,"mode":"list","cachedResultName":" Laborable","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit#gid=786988166"},"columns":{"mappingMode":"defineBelow","value":{"CONTACTO":"={{ $('Etiquetas').item.json['CONTACTO'] }}","INSTRUCTOR":"={{ $('Etiquetas').item.json['INSTRUCTOR'] }}","APELLIDOS Y NOMBRE":"={{ $('Etiquetas').item.json['APELLIDOS Y NOMBRE'] }}","NOMBRE":"={{ $('Etiquetas').item.json['NOMBRE'] }}","EDAD":"={{ $('Etiquetas').item.json['EDAD'] }}","CORREO":"={{\n  $input.all()\n    .map(i => i.json.Correo || i.json.CORREO)\n    .map(c => (typeof c === 'string' ? c.trim() : ''))\n    .find(c => c !== '') || ''\n}}","1* CURSO":"={{ $('Etiquetas').item.json['1* CURSO'] }}","MODALIDAD":"={{ $('Etiquetas').item.json['MODALIDAD'] }}","TERMINAL ESTABLE":"={{ $('Etiquetas').item.json['TERMINAL ESTABLE'] }}","CIUDAD":"={{ $('Etiquetas').item.json['CIUDAD'] }}","PROFESIÓN":"={{ $('Etiquetas').item.json['PROFESIÓN'] }}","MES":"={{ $('Etiquetas').item.json['MES'] }}","AÑO ":"={{ $('Etiquetas').item.json['AÑO'] }}","🧠 GENIUS":"={{ $('Etiquetas').item.json['GENIUS'] }}","30 dias 1 idioma":"={{ $('Etiquetas').item.json['30 dias 1 idioma'] }}","Estudiantes":"={{ $('Etiquetas').item.json['Estudiantes'] }}","Profesionales":"={{ $('Etiquetas').item.json['Profesionales'] }}","Genial Business":"={{ $('Etiquetas').item.json['Genial Business'] }}","Domina tu discurso":"={{ $('Etiquetas').item.json['Domina tu discurso'] }}","Genius Kids":"={{ $('Etiquetas').item.json['Genius Kids'] }}","row_number":0,"Comunicación":"={{ $('Etiquetas').item.json['Comunicación'] }}","Idiomas":"={{ $('Etiquetas').item.json['Idiomas'] }}","Proximo One":"={{ $('Etiquetas').item.json['Proximo One'] }}","One Echos":"={{ $('Etiquetas').item.json['One Echos'] }}","Tipo":"={{ $('Etiquetas').item.json['Tipo'] }}","Nivel":"={{ $('Etiquetas').item.json['Nivel'] }}","Año":"={{ $('Etiquetas').item.json['Año'] }}","L. Rapida":"={{ $('Etiquetas').item.json['L. Rapida'] }}","G. Tiempo":"={{ $('Etiquetas').item.json['G. Tiempo'] }}","Estress + IA":"={{ $('Etiquetas').item.json['Estress + IA'] }}","STATUS 🚦":"={{ $('Etiquetas').item.json['STATUS 🚦'] }}","NOMBRE 1":"={{ $('Etiquetas').item.json['NOMBRE 1'] }}","NOMBRE 2":"={{ $('Etiquetas').item.json['NOMBRE 2'] }}","NOMBRE 3":"={{ $('Etiquetas').item.json['NOMBRE 3'] }}","NOMBRE 4":"={{ $('Etiquetas').item.json['NOMBRE 4'] }}","NOMBRE 5":"={{ $('Etiquetas').item.json['NOMBRE 5'] }}","OBJETIVO DEL CURSO":"={{ $('Etiquetas').item.json['OBJETIVO DEL CURSO'] }}","PROXIMOS EVENTOS":"={{ $('Etiquetas').item.json['PROXIMOS EVENTOS'] }}","NOTAS":"={{ $('Etiquetas').item.json['NOTAS'] }}","COMENTARIO PROFU Y FOLLOW UP":"={{ $('Etiquetas').item.json['COMENTARIO PROFU Y FOLLOW UP'] }}","E.IDIOMAS EXTRANJEROS":"={{ $('Etiquetas').item.json['E.IDIOMAS EXTRANJEROS'] }}","E.METODO DE ESTUDIO":"={{ $('Etiquetas').item.json['E.METODO DE ESTUDIO'] }}","E.TECNICAS DE MEMORIA":"={{ $('Etiquetas').item.json['E.TECNICAS DE MEMORIA'] }}","E.MAPAS MENTALES":"={{ $('Etiquetas').item.json['E.MAPAS MENTALES'] }}","E.LECTURA RAPIDA":"={{ $('Etiquetas').item.json['E.LECTURA RAPIDA'] }}","E.RELAJACIÓN":"={{ $('Etiquetas').item.json['E.RELAJACIÓN'] }}","E.MOTIVACIÓN":"={{ $('Etiquetas').item.json['E.MOTIVACIÓN'] }}","E.INSTRUCTOR":"={{ $('Etiquetas').item.json['E.INSTRUCTOR'] }}","E.STAFF":"={{ $('Etiquetas').item.json['E.STAFF'] }}","E.MATERIAL DEL CURSO":"={{ $('Etiquetas').item.json['E.MATERIAL DEL CURSO'] }}","SSA":"={{ $('Etiquetas').item.json['SSA'] }}","16K":"={{ $('Etiquetas').item.json['16K'] }}"},"matchingColumns":["CORREO"],"schema":[{"id":"INSTRUCTOR","displayName":"INSTRUCTOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"APELLIDOS Y NOMBRE","displayName":"APELLIDOS Y NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONTACTO","displayName":"CONTACTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORREO","displayName":"CORREO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EDAD","displayName":"EDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROXIMOS EVENTOS","displayName":"PROXIMOS EVENTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1* CURSO","displayName":"1* CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MES","displayName":"MES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AÑO ","displayName":"AÑO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MODALIDAD","displayName":"MODALIDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TERMINAL ESTABLE","displayName":"TERMINAL ESTABLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ESTADO LABORAL","displayName":"ESTADO LABORAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROFESIÓN","displayName":"PROFESIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ACOMPAÑANTE","displayName":"ACOMPAÑANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nivel","displayName":"Nivel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Año","displayName":"Año","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS 🚦","displayName":"STATUS 🚦","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"16K","displayName":"16K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SSA","displayName":"SSA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"🧠 GENIUS","displayName":"🧠 GENIUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"30 dias 1 idioma","displayName":"30 dias 1 idioma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Genial Business","displayName":"Genial Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"One Echos","displayName":"One Echos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Proximo One","displayName":"Proximo One","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Domina tu discurso","displayName":"Domina tu discurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Genius Kids","displayName":"Genius Kids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"L. Rapida","displayName":"L. Rapida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"G. Tiempo","displayName":"G. Tiempo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estress + IA","displayName":"Estress + IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estudiantes","displayName":"Estudiantes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Idiomas","displayName":"Idiomas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profesionales","displayName":"Profesionales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OBJETIVO DEL CURSO","displayName":"OBJETIVO DEL CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MATERIAL DEL CURSO","displayName":"E.MATERIAL DEL CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.STAFF","displayName":"E.STAFF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.INSTRUCTOR","displayName":"E.INSTRUCTOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MOTIVACIÓN","displayName":"E.MOTIVACIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.RELAJACIÓN","displayName":"E.RELAJACIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.LECTURA RAPIDA","displayName":"E.LECTURA RAPIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MAPAS MENTALES","displayName":"E.MAPAS MENTALES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.TECNICAS DE MEMORIA","displayName":"E.TECNICAS DE MEMORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.METODO DE ESTUDIO","displayName":"E.METODO DE ESTUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.IDIOMAS EXTRANJEROS","displayName":"E.IDIOMAS EXTRANJEROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comunicación","displayName":"Comunicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 1","displayName":"NOMBRE 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 2","displayName":"NOMBRE 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 3","displayName":"NOMBRE 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 4","displayName":"NOMBRE 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 5","displayName":"NOMBRE 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOTAS","displayName":"NOTAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"COMENTARIO PROFU Y FOLLOW UP","displayName":"COMENTARIO PROFU Y FOLLOW UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1104,-208],"id":"70b08765-9483-416e-8918-7e482758e5ba","name":"Update Rows Excel 2","credentials":{"googleSheetsOAuth2Api":{"id":"cxOdZ9yRpG8wBrJa","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g","mode":"list","cachedResultName":"Cross Selling Nazionale Sirux","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":786988166,"mode":"list","cachedResultName":" Laborable","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3oebDX-CZ0HUzHXi5YJvy4sFTbHn6PPbZrg7nbyw7g/edit#gid=786988166"},"columns":{"mappingMode":"defineBelow","value":{"CONTACTO":"={{ $('Etiquetas').item.json['CONTACTO'] }}","INSTRUCTOR":"={{ $('Etiquetas').item.json['INSTRUCTOR'] }}","APELLIDOS Y NOMBRE":"={{ $('Etiquetas').item.json['APELLIDOS Y NOMBRE'] }}","NOMBRE":"={{ $('Etiquetas').item.json['NOMBRE'] }}","EDAD":"={{ $('Etiquetas').item.json['EDAD'] }}","CORREO":"={{ $('Etiquetas').item.json['CORREO'] }}","1* CURSO":"={{ $('Etiquetas').item.json['1* CURSO'] }}","MODALIDAD":"={{ $('Etiquetas').item.json['MODALIDAD'] }}","TERMINAL ESTABLE":"={{ $('Etiquetas').item.json['TERMINAL ESTABLE'] }}","CIUDAD":"={{ $('Etiquetas').item.json['CIUDAD'] }}","PROFESIÓN":"={{ $('Etiquetas').item.json['PROFESIÓN'] }}","MES":"={{ $('Etiquetas').item.json['MES'] }}","AÑO ":"={{ $('Etiquetas').item.json['AÑO'] }}","🧠 GENIUS":"={{ $('Etiquetas').item.json['GENIUS'] }}","30 dias 1 idioma":"={{ $('Etiquetas').item.json['30 dias 1 idioma'] }}","Estudiantes":"={{ $('Etiquetas').item.json['Estudiantes'] }}","Profesionales":"={{ $('Etiquetas').item.json['Profesionales'] }}","Genial Business":"={{ $('Etiquetas').item.json['Genial Business'] }}","Domina tu discurso":"={{ $('Etiquetas').item.json['Domina tu discurso'] }}","Genius Kids":"={{ $('Etiquetas').item.json['Genius Kids'] }}","Comunicación":"={{ $('Etiquetas').item.json['Comunicación'] }}","Idiomas":"={{ $('Etiquetas').item.json['Idiomas'] }}","Proximo One":"={{ $('Etiquetas').item.json['Proximo One'] }}","One Echos":"={{ $('Etiquetas').item.json['One Echos'] }}","Tipo":"={{ $('Etiquetas').item.json['Tipo'] }}","Nivel":"={{ $('Etiquetas').item.json['Nivel'] }}","Año":"={{ $('Etiquetas').item.json['Año'] }}","L. Rapida":"={{ $('Etiquetas').item.json['L. Rapida'] }}","G. Tiempo":"={{ $('Etiquetas').item.json['G. Tiempo'] }}","Estress + IA":"={{ $('Etiquetas').item.json['Estress + IA'] }}","STATUS 🚦":"={{ $('Etiquetas').item.json['STATUS 🚦'] }}","NOMBRE 1":"={{ $('Etiquetas').item.json['NOMBRE 1'] }}","NOMBRE 2":"={{ $('Etiquetas').item.json['NOMBRE 2'] }}","NOMBRE 3":"={{ $('Etiquetas').item.json['NOMBRE 3'] }}","NOMBRE 4":"={{ $('Etiquetas').item.json['NOMBRE 4'] }}","NOMBRE 5":"={{ $('Etiquetas').item.json['NOMBRE 5'] }}","OBJETIVO DEL CURSO":"={{ $('Etiquetas').item.json['OBJETIVO DEL CURSO'] }}","PROXIMOS EVENTOS":"={{ $('Etiquetas').item.json['PROXIMOS EVENTOS'] }}","NOTAS":"={{ $('Etiquetas').item.json['NOTAS'] }}","COMENTARIO PROFU Y FOLLOW UP":"={{ $('Etiquetas').item.json['COMENTARIO PROFU Y FOLLOW UP'] }}","E.IDIOMAS EXTRANJEROS":"={{ $('Etiquetas').item.json['E.IDIOMAS EXTRANJEROS'] }}","E.METODO DE ESTUDIO":"={{ $('Etiquetas').item.json['E.METODO DE ESTUDIO'] }}","E.TECNICAS DE MEMORIA":"={{ $('Etiquetas').item.json['E.TECNICAS DE MEMORIA'] }}","E.MAPAS MENTALES":"={{ $('Etiquetas').item.json['E.MAPAS MENTALES'] }}","E.LECTURA RAPIDA":"={{ $('Etiquetas').item.json['E.LECTURA RAPIDA'] }}","E.RELAJACIÓN":"={{ $('Etiquetas').item.json['E.RELAJACIÓN'] }}","E.MOTIVACIÓN":"={{ $('Etiquetas').item.json['E.MOTIVACIÓN'] }}","E.INSTRUCTOR":"={{ $('Etiquetas').item.json['E.INSTRUCTOR'] }}","E.STAFF":"={{ $('Etiquetas').item.json['E.STAFF'] }}","E.MATERIAL DEL CURSO":"={{ $('Etiquetas').item.json['E.MATERIAL DEL CURSO'] }}","SSA":"={{ $('Etiquetas').item.json['SSA'] }}","16K":"={{ $('Etiquetas').item.json['16K'] }}"},"matchingColumns":["CORREO"],"schema":[{"id":"INSTRUCTOR","displayName":"INSTRUCTOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"APELLIDOS Y NOMBRE","displayName":"APELLIDOS Y NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONTACTO","displayName":"CONTACTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORREO","displayName":"CORREO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EDAD","displayName":"EDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROXIMOS EVENTOS","displayName":"PROXIMOS EVENTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"1* CURSO","displayName":"1* CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MES","displayName":"MES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AÑO ","displayName":"AÑO ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MODALIDAD","displayName":"MODALIDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TERMINAL ESTABLE","displayName":"TERMINAL ESTABLE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROFESIÓN","displayName":"PROFESIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nivel","displayName":"Nivel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Año","displayName":"Año","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS 🚦","displayName":"STATUS 🚦","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"16K","displayName":"16K","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SSA","displayName":"SSA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"🧠 GENIUS","displayName":"🧠 GENIUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"30 dias 1 idioma","displayName":"30 dias 1 idioma","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Genial Business","displayName":"Genial Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"One Echos","displayName":"One Echos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Proximo One","displayName":"Proximo One","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Domina tu discurso","displayName":"Domina tu discurso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Genius Kids","displayName":"Genius Kids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"L. Rapida","displayName":"L. Rapida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"G. Tiempo","displayName":"G. Tiempo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estress + IA","displayName":"Estress + IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estudiantes","displayName":"Estudiantes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Idiomas","displayName":"Idiomas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profesionales","displayName":"Profesionales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OBJETIVO DEL CURSO","displayName":"OBJETIVO DEL CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MATERIAL DEL CURSO","displayName":"E.MATERIAL DEL CURSO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.STAFF","displayName":"E.STAFF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.INSTRUCTOR","displayName":"E.INSTRUCTOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MOTIVACIÓN","displayName":"E.MOTIVACIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.RELAJACIÓN","displayName":"E.RELAJACIÓN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.LECTURA RAPIDA","displayName":"E.LECTURA RAPIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.MAPAS MENTALES","displayName":"E.MAPAS MENTALES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.TECNICAS DE MEMORIA","displayName":"E.TECNICAS DE MEMORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.METODO DE ESTUDIO","displayName":"E.METODO DE ESTUDIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E.IDIOMAS EXTRANJEROS","displayName":"E.IDIOMAS EXTRANJEROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comunicación","displayName":"Comunicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 1","displayName":"NOMBRE 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 2","displayName":"NOMBRE 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 3","displayName":"NOMBRE 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 4","displayName":"NOMBRE 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOMBRE 5","displayName":"NOMBRE 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOTAS","displayName":"NOTAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"COMENTARIO PROFU Y FOLLOW UP","displayName":"COMENTARIO PROFU Y FOLLOW UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ACOMPAÑANTE","displayName":"ACOMPAÑANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ESTADO LABORAL","displayName":"ESTADO LABORAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,240],"id":"d50547c8-0c95-4618-bf86-e6156534c4e0","name":"Append Rows Excel ","credentials":{"googleSheetsOAuth2Api":{"id":"cxOdZ9yRpG8wBrJa","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Rows Excel 2":{"main":[[{"node":"If 2","type":"main","index":0}]]},"If 2":{"main":[[{"node":"Update Rows Excel 2","type":"main","index":0}],[{"node":"Append Rows Excel ","type":"main","index":0}]]},"Etiquetas":{"main":[[{"node":"Get Rows Excel 2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Etiquetas","type":"main","index":0}]]},"Update Rows Excel 2":{"main":[[]]},"Append Rows Excel ":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"9YpyOY9f6StAnitN"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.srv1004677.hstgr.cloud","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd9c_OAK384Qglz4d4Z6xtM18njMG1Q)","content-length":"4987","accept-encoding":"gzip, deflate, br","content-type":"application/json","x-forwarded-for":"35.187.134.193","x-forwarded-host":"n8n.srv1004677.hstgr.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3049a3820184","x-real-ip":"35.187.134.193"},"params":{},"query":{},"body":{"MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MÉTODO DE ESTUDIO]":"SUFICIENTE","¿Sabes que es el \"networking\"?":"","¿Sabes que es el \"networking\"? (2)":"","DESCRIBE TU OBJETIVO CON EL CURSO:":"","DESCRIBE TU OBJETIVO CON EL CURSO: (2)":"Aprender inglés","Número de contacto (en el que tienes whatsapp)":"652024140","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MAPAS MENTALES]":"SUFICIENTE","¿En cuál de los follow up temáticos te GUSTARÍA participar?":"","¿Te acuerdas del nombre de la primera persona que te lo ha recomendado?":"","¿Quieres que te vayamos informando de eventos que vamos haciendo a lo largo del tiempo?":"No","¿Quieres que te vayamos informando de eventos que vamos haciendo a lo largo del tiempo? (2)":"","5. Nombre, apellido - quien es esta persona para ti":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MATERIAL DEL CURSO]":"SUFICIENTE","Correo":"cdzarate.c@gmail.com","¿Qué área te interesa más? [Crecimiento personal]":"","¿Qué área te interesa más? [Aprender un idioma en 30 días]":"","¿Qué área te interesa más? [Método de aprendizaje]":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [STAFF]":"SUFICIENTE","¿Qué área te interesa más? [Riga 9]":"","¿Qué área te interesa más? [Salud y bienestar]":"","TARGET (14 DICIEMBRE)":"","¿Has agendado el follow up de los profesionales?":"","¿En tu trabajo tienes que coordinar un grupo de personas? (almenos 3)":"No, recibo tareas e indicaciones","3. Nombre, apellido - quien es esta persona para ti":"","¿Qué especialidad es?":"","¿Qué especialidad es? (2)":"","¿Qué área te interesa más? [Gestión económica]":"","Fecha de Nacimiento":"12/07/2003","¿En qué ciudad vives (si es un pueblo indica la ciudad grande más cercana)?":"Barcelona","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [TÉCNICAS DE MEMORIA]":"SUFICIENTE","Cual es la principal mejora que desea para tu hijo/hija?":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [IDIOMAS EXTRANJEROS]":"SUFICIENTE","¿A qué te dedicas actualmente? (especifica actividad y cargo)":"Administrativo","¿A qué te dedicas actualmente? (especifica actividad y cargo) (2)":"","ONE SHOT - (Duración 2:30) - 21/09/2025":"","4. Nombre, apellido - quien es esta persona para ti":"","¿Sabes que es el networking?":"","¿Qué área te interesa más? [Networking]":"","En tu nucleo familiar:":"No tengo hijos.","¿Qué área te interesa más? [Ventas]":"","¿En cuál de los otros follow up temáticos te GUSTARÍA MAS participar?":"","¿Cómo prefieres que te llamemos si te contactamos?":"","Que dirías de tu vida laboral a dia de hoy?":"","Dirección de correo electrónico":"cdzarate.c@gmail.com","¿Qué área te interesa más? [Gestión de equipos y personas]":"","¿Tienes pendiente aprender un idioma?":"","¿Tienes pendiente aprender un idioma? (2)":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [RELAJACIÓN]":"SUFICIENTE","1. Nombre, apellido - quien es esta persona para ti":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [MOTIVACIÓN]":"SUFICIENTE","¿En tu trabajo tienes que coordinar un grupo de personas? (mínimo 3)":"","¿Es la primera vez que haces el curso o lo estás repitiendo?":"","¿Qué área te interesa más? [Hablar en público]":"","¿Quién es el TUTOR de tu hijo/hija?":"","¿Quién es el TUTOR de tu hijo/hija? (2)":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [LECTURA RÁPIDA]":"SUFICIENTE","¿En qué año estas?":"","¿En qué año estas? (2)":"","Que dirías de tu vida laboral a dia de hoy":"","¿En cuál de los otros follow up temáticos te GUSTARÍA mas participar?":"","MARCA UNA PUNTUACIÓN DE SATISFACCIÓN  EN CADA ÁREA  [INSTRUCTOR]":"SUFICIENTE","¿Te gustaría cambiar de profesión?":"","Has conocido el curso por:":"Me lo ha comentado alguien que estaba a punto de hacerlo o ya lo había hecho!","Has conocido el curso por: (2)":"","¿Qué estudias?":"","¿Qué estudias? (2)":"","¿Hay algo que te gustaría comunicarnos?":"No","Marca temporal":"8/12/2025 0:04:49","¿Tienes algún objetivo de estudio?":"","Has hecho el curso para:":"Aprender Idiomas","¿Qué área te interesa más? [Comunicación y Mediación]":"","¿Quién es tu TUTOR?":"Susana Diaz","¿Quién es tu TUTOR? (2)":"","¿Quién es tu TUTOR? (3)":"","¿En qué ciudad has hecho el curso?":"Barcelona (Marco Bevanati)","Autorizo el tratamiento de mis datos personales y sensibles de acuerdo con el Decreto Legislativo del 30 de junio del 2003, n. 196 - Código en materia de protección de los datos personales.":"Sí","ESCANEA TU FAMILIA (24, 25 Y 26 OCTUBRE)":"","¿Qué otros temas te generan curiosidad? (puedes marcar varios)":"","¿Estudias o trabajas?":"Solo trabajo.","¿Hay alguien en que has pensado durante este fin de semana y crees que le gustaría conocer el curso?":"","2. Nombre, apellido - quien es esta persona para ti":"","Apellidos":"Zárate Cáceres","Nombre":"Carlos Daniel"},"webhookUrl":"https://n8n.srv1004677.hstgr.cloud/webhook/form-sirux-2","executionMode":"production"}}]},"versionId":"cc0a5ab0-af0b-481d-9941-c9dee6fd179d","activeVersionId":null,"versionCounter":47,"triggerCount":1,"shared":[{"updatedAt":"2025-12-08T15:34:01.339Z","createdAt":"2025-12-08T15:34:01.339Z","role":"workflow:owner","workflowId":"E9N08hq8lxtOQFMG","projectId":"PiPZwBUp7Q61FHP7","project":{"updatedAt":"2025-09-11T14:34:03.741Z","createdAt":"2025-09-11T14:32:59.070Z","id":"PiPZwBUp7Q61FHP7","name":"Kevin Berbel <info@riquezadigital.es>","type":"personal","icon":null,"description":null,"creatorId":"425aa97c-7959-4dcd-8009-094c49e9e3fd","projectRelations":[{"updatedAt":"2025-09-11T14:32:59.070Z","createdAt":"2025-09-11T14:32:59.070Z","userId":"425aa97c-7959-4dcd-8009-094c49e9e3fd","projectId":"PiPZwBUp7Q61FHP7","user":{"updatedAt":"2026-02-25T17:57:36.000Z","createdAt":"2025-09-11T14:32:58.592Z","id":"425aa97c-7959-4dcd-8009-094c49e9e3fd","email":"info@riquezadigital.es","firstName":"Kevin","lastName":"Berbel","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-11T14:34:15.550Z","personalization_survey_n8n_version":"1.110.1","companySize":"personalUser","companyType":"saas","role":"business-owner","reportedSource":"podcast"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"UOn3KahcYf0Kv4JK","userActivatedAt":1757813078320,"npsSurvey":{"responded":true,"lastShownAt":1759851517276},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-24","isPending":false}}]}}],"tags":[],"activeVersion":null}