clients/selarom-jordi/selarom_workflow.json
{
  "name": "Selarom - Obras - Jordi",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "cda239c3-3562-4946-af2c-0b8f09b2000d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "889dabf7-17dc-490b-91a9-dc1509c533a4",
      "parameters": {
        "httpMethod": "POST",
        "path": "selarom_calculadora",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Calcular Presupuesto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// SELAROM - CALCULADORA DE REFORMA\n// Tally webhook: array de {key, label, value, options, type}\n// ============================================================\n\nconst fields = $input.first().json.body.data.fields;\n\n// Busca campo por fragmento de label (case-insensitive)\nfunction getField(part) {\n  return fields.find(f => f.label && f.label.toLowerCase().includes(part.toLowerCase()));\n}\n\n// Resuelve UUID(s) a texto para MULTIPLE_CHOICE / DROPDOWN\nfunction resolveChoice(field) {\n  if (!field || !field.value) return '';\n  const chosen = Array.isArray(field.value) ? field.value : [field.value];\n  const opts = field.options || [];\n  return chosen.map(uuid => {\n    const o = opts.find(x => x.id === uuid);\n    return o ? o.text.trim() : uuid;\n  }).join(', ');\n}\n\n// Lee checkbox expandido: true/false\nfunction isChecked(part) {\n  const f = getField(part);\n  return f && (f.value === true || f.value === 'true');\n}\n\n// Extrae primer numero de texto\nfunction extractNum(text) {\n  if (!text) return 0;\n  if (text.toLowerCase().includes('no hace falta') || text.toLowerCase().includes('ninguna')) return 0;\n  const m = text.match(/(\\d+)/);\n  return m ? parseInt(m[1], 10) : 0;\n}\n\n// Tablas €/m²\nconst GAS_TABLE     = [{max_m2:50,val:112.50},{max_m2:70,val:91.67},{max_m2:90,val:81.25},{max_m2:110,val:74.00},{max_m2:130,val:68.75},{max_m2:150,val:64.29},{max_m2:170,val:60.31},{max_m2:99999,val:56.67}];\nconst CONDUCTOS_TABLE = [{max_m2:50,val:137.50},{max_m2:70,val:106.67},{max_m2:90,val:97.50},{max_m2:110,val:97.00},{max_m2:130,val:95.83},{max_m2:150,val:96.43},{max_m2:170,val:97.50},{max_m2:99999,val:97.22}];\nconst ELEC_TABLE    = [{max_m2:50,val:125.00},{max_m2:70,val:91.67},{max_m2:90,val:82.50},{max_m2:110,val:78.00},{max_m2:130,val:73.75},{max_m2:150,val:75.00},{max_m2:170,val:73.75},{max_m2:99999,val:73.89}];\nfunction tv(table, m2) { for (const r of table) if (m2 <= r.max_m2) return r.val; return table[table.length-1].val; }\n\n// ---- LECTURAS ----\nconst uso_vivienda   = resolveChoice(getField('1. Uso de la vivienda'));\nconst vivienda_propia = resolveChoice(getField('2. ¿Vivienda en propiedad?'));\n\nconst tipo_propiedad_text = resolveChoice(getField('3. Tipo de propiedad')) || 'Piso';\nlet mult_tipo = tipo_propiedad_text.toLowerCase().includes('casa') ? 1.10 : 1.00;\n\nconst sup_text = resolveChoice(getField('4. Superficie del espacio'));\nlet numero_m2 = 70;\nif (sup_text.includes('Menos de 50')) numero_m2 = 50;\nelse if (sup_text.includes('50 y 70'))   numero_m2 = 70;\nelse if (sup_text.includes('70 y 90'))   numero_m2 = 90;\nelse if (sup_text.includes('90 y 110'))  numero_m2 = 110;\nelse if (sup_text.includes('110 y 130')) numero_m2 = 130;\nelse if (sup_text.includes('130 y 150')) numero_m2 = 150;\nelse if (sup_text.includes('150 y 170')) numero_m2 = 170;\nelse if (sup_text.includes('170'))       numero_m2 = 190;\n\nconst distrib_text = resolveChoice(getField('5. ¿Quieres cambiar la distribución?'));\nlet mult_distrib = 1.00;\nif (distrib_text.toLowerCase().includes('total'))   mult_distrib = 1.15;\nelse if (distrib_text.toLowerCase().includes('parcial')) mult_distrib = 1.05;\n\n// ---- ADJUNTOS ----\nfunction parseAdjunto(field) {\n  if (!field || !field.value) return null;\n  const val = Array.isArray(field.value) ? field.value[0] : field.value;\n  if (!val || !val.url) return null;\n  return { nombre: val.name || 'adjunto', url: val.url, tipo: val.mimeType || '', size_kb: val.size ? Math.round(val.size / 1024) : 0 };\n}\n\nconst planos_adj = parseAdjunto(getField('6. ¿Tienes planos?'));\nconst fotos_adj  = parseAdjunto(getField('7. ¿Tienes fotos'));\nconst planos_str = planos_adj ? planos_adj.nombre : 'No adjunta';\nconst fotos_str  = fotos_adj  ? fotos_adj.nombre  : 'No adjunta';\nconst planos_url = planos_adj ? planos_adj.url    : '';\nconst fotos_url  = fotos_adj  ? fotos_adj.url     : '';\n\n// ---- BAÑOS ----\nconst banos_text = resolveChoice(getField('8. Cuartos de baño'));\nlet n_banos = banos_text.includes('5 o más') ? 5 : extractNum(banos_text);\nconst precio_banos = n_banos * 7000;\n\n// ---- COCINAS ----\nconst cocinas_text = resolveChoice(getField('9. Cocinas'));\nlet n_cocinas = cocinas_text.includes('3 o más') ? 3 : extractNum(cocinas_text);\nconst precio_cocinas = n_cocinas * 13500;\n\n// ---- PUERTAS ----\nconst puertas_text = resolveChoice(getField('10. Puertas'));\nlet n_puertas = 0;\nif (!puertas_text.toLowerCase().includes('no hace falta'))\n  n_puertas = puertas_text.includes('15 puertas o más') ? 15 : extractNum(puertas_text);\nconst precio_puertas = n_puertas * 550;\n\n// ---- VENTANAS ----\nconst ventanas_text = resolveChoice(getField('11. ¿Cuántas ventanas'));\nlet n_ventanas = ventanas_text.toLowerCase().includes('ninguna') ? 0 : (ventanas_text.includes('5 ventanas o más') ? 5 : extractNum(ventanas_text));\nconst precio_ventanas = n_ventanas * 1200;\n\n// ---- BALCONERAS ----\nconst balconeras_text = resolveChoice(getField('12. ¿Cuántas balconeras'));\nlet n_balconeras = balconeras_text.toLowerCase().includes('ninguna') ? 0 : (balconeras_text.includes('4 balconeras o más') ? 4 : extractNum(balconeras_text));\nconst precio_balconeras = n_balconeras * 1700;\n\n// ---- CLIMATIZACIÓN ----\nlet precio_clima = 0;\nconst clima_sel = [];\nconst fmt = n => n.toLocaleString('es-ES') + ' €';\n\nif (isChecked('13. Climatización  (Calefacción de gas natural completa)')) { \n  const p = Math.round(numero_m2 * tv(GAS_TABLE, numero_m2));\n  clima_sel.push(`Gas natural: ${fmt(p)}`); \n  precio_clima += p; \n}\nif (isChecked('13. Climatización  (Radiadores eléctricos)')) { \n  const p = Math.round(numero_m2 * 22);\n  clima_sel.push(`Radiadores eléctricos: ${fmt(p)}`); \n  precio_clima += p; \n}\nif (isChecked('13. Climatización  (Aire acondicionado con splits)')) { \n  const p = Math.round(numero_m2 * 60);\n  clima_sel.push(`Splits: ${fmt(p)}`); \n  precio_clima += p; \n}\nif (isChecked('13. Climatización  (Climatización por conductos')) { \n  const p = Math.round(numero_m2 * tv(CONDUCTOS_TABLE, numero_m2));\n  clima_sel.push(`Conductos: ${fmt(p)}`); \n  precio_clima += p; \n}\nif (isChecked('13. Climatización  (Mantener')) { clima_sel.push('Mantener sistema actual'); }\nif (isChecked('13. Climatización  (No lo sé')) { clima_sel.push('Necesita asesoramiento'); }\n\n// ---- OTROS EXTRAS ----\nlet precio_electricidad = 0, precio_falsos_techos = 0, precio_alisado_paredes = 0, precio_pintura = 0;\nconst otros_sel = [];\nif (isChecked('14. Otros (Electricidad completa)')) { \n  precio_electricidad = Math.round(numero_m2 * tv(ELEC_TABLE, numero_m2));\n  otros_sel.push(`Electricidad completa: ${fmt(precio_electricidad)}`); \n}\nif (isChecked('14. Otros (Falsos techos)')) { \n  precio_falsos_techos = Math.round(numero_m2 * 55);\n  otros_sel.push(`Falsos techos: ${fmt(precio_falsos_techos)}`); \n}\nif (isChecked('14. Otros (Alisar paredes)')) { \n  precio_alisado_paredes = Math.round(numero_m2 * 21);\n  otros_sel.push(`Alisar paredes: ${fmt(precio_alisado_paredes)}`); \n}\nif (isChecked('14. Otros (Pintura)')) { \n  precio_pintura = Math.round(numero_m2 * 9);\n  otros_sel.push(`Pintura: ${fmt(precio_pintura)}`); \n}\nif (isChecked('14. Otros (Fontanería completa)')) { otros_sel.push('Fontanería completa'); }\nconst extras_otros = precio_electricidad + precio_falsos_techos + precio_alisado_paredes + precio_pintura;\n\n// ---- SUELOS ----\nconst suelos_text = resolveChoice(getField('15. ¿Quieres cambiar suelos?'));\nlet precio_suelos = 0;\nif (suelos_text.toLowerCase().includes('parquet') || suelos_text.toLowerCase().includes('laminado')) precio_suelos = numero_m2 * 50;\nelse if (suelos_text.toLowerCase().includes('cer') || suelos_text.toLowerCase().includes('porcel')) precio_suelos = numero_m2 * 57;\n\n// ---- CONTACTO Y CONTEXTO ----\nconst inv_f   = getField('inversión tienes prevista');   const inversion_prevista = inv_f   ? String(inv_f.value   || '') : '';\nconst fecha_f = getField('fecha te gustaría');           const fecha_inicio        = fecha_f ? String(fecha_f.value || '') : '';\nconst nom_f   = getField('Nombre');                      const nombre              = nom_f   ? String(nom_f.value   || '') : '';\nconst tel_f   = getField('Teléfono');                    const telefono            = tel_f   ? String(tel_f.value   || '') : '';\nconst email_f = getField('Email');                       const email_cliente       = email_f ? String(email_f.value || '') : '';\nconst dir_f   = getField('Dirección');                   const direccion           = dir_f   ? String(dir_f.value   || '') : '';\nconst tel_wa  = telefono.replace(/\\D/g, '');\n\n// ---- CÁLCULO FINAL ----\nconst subtotal_base  = precio_banos + precio_cocinas + precio_puertas + precio_ventanas + precio_balconeras + precio_clima + extras_otros + precio_suelos;\nconst ajuste_tipo    = subtotal_base * (mult_tipo - 1);\nconst ajuste_distrib = subtotal_base * (mult_distrib - 1);\nconst total          = Math.round(subtotal_base + ajuste_tipo + ajuste_distrib);\n\nreturn [{ json: {\n  nombre, telefono, tel_wa, email_cliente, direccion,\n  uso_vivienda, vivienda_propia, inversion_prevista, fecha_inicio,\n  planos: planos_str, planos_url, fotos: fotos_str, fotos_url,\n  tipo_propiedad: tipo_propiedad_text, numero_m2, distribucion: distrib_text,\n  n_banos, n_cocinas, n_puertas, n_ventanas, n_balconeras,\n  climatizacion: clima_sel.join('<br>') || 'Ninguno',\n  otros_extras: otros_sel.join('<br>') || 'Ninguno',\n  suelos: suelos_text || 'No',\n  mult_tipo, mult_distrib,\n  precio_banos, precio_cocinas, precio_puertas, precio_ventanas, precio_balconeras,\n  precio_clima: Math.round(precio_clima),\n  precio_electricidad: Math.round(precio_electricidad),\n  precio_falsos_techos, precio_alisado_paredes, precio_pintura,\n  precio_suelos, extras_otros: Math.round(extras_otros),\n  subtotal_base: Math.round(subtotal_base), ajuste_tipo: Math.round(ajuste_tipo), ajuste_distrib: Math.round(ajuste_distrib),\n  total_estimado: total, total_estimado_str: fmt(total)\n}}];"
      }
    },
    {
      "id": "67be52ee-da3c-4cfa-a217-ce03fcd6e867",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [560, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "2HdOJKlFbweHG1JK",
          "name": "Veganashi"
        }
      },
      "parameters": {
        "sendTo": "info@selarom.es",
        "subject": "=Calculadora de {{ $json.nombre }} en {{ $json.direccion }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<body style=\"font-family:Arial,sans-serif;color:#222;max-width:600px;margin:0 auto;padding:20px\">\n  <h1 style=\"background:#1a1a2e;color:#fff;padding:16px;border-radius:8px 8px 0 0;margin:0\">\n    🏠 Nuevo cálculo {{ $json.nombre }} en {{ $json.direccion }}\n  </h1>\n  <div style=\"border:1px solid #e0e0e0;border-top:none;border-radius:0 0 8px 8px;padding:24px\">\n    <!-- 1. PRESUPUESTO -->\n    <h2 style=\"color:#1a1a2e\">💰 Presupuesto estimado</h2>\n    <p style=\"font-size:32px;font-weight:bold;color:#e74c3c;margin:8px 0\">{{ $json.total_estimado_str }}</p>\n    <p style=\"color:#666;font-size:13px\">\n      Subtotal: {{ $json.subtotal_base }} € &nbsp;|&nbsp;\n      Ajuste tipo: {{ $json.ajuste_tipo }} € &nbsp;|&nbsp;\n      Ajuste distribución: {{ $json.ajuste_distrib }} €\n    </p>\n    <h2 style=\"color:#1a1a2e\">👤 Contacto</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:16px\">\n      <tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Nombre</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.nombre }}</td></tr>\n      <tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Email</b></td><td style=\"padding:8px;border:1px solid #ddd\"><a href=\"mailto:{{ $json.email_cliente }}\">{{ $json.email_cliente }}</a></td></tr>\n      <tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Dirección</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.direccion }}</td></tr>\n    </table>\n    <div style=\"text-align:center;margin-bottom:24px\">\n      <a href=\"tel:{{ $json.telefono }}\"\n         style=\"display:inline-block;background:#1a1a2e;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;font-size:16px;font-weight:bold;margin:6px\">\n        📞 Llamar — {{ $json.telefono }}\n      </a>\n      <a href=\"https://wa.me/{{ $json.tel_wa }}\"\n         style=\"display:inline-block;background:#25D366;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;font-size:16px;font-weight:bold;margin:6px\">\n        💬 WhatsApp\n      </a>\n    </div>\n    <h2 style=\"color:#1a1a2e\">📅 Contexto</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:16px\">\n      <tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Uso</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.uso_vivienda }}</td></tr>\n      <tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Propiedad</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.vivienda_propia }}</td></tr>\n      <tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Inversión</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.inversion_prevista }} €</td></tr>\n      <tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Fecha</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.fecha_inicio }}</td></tr>\n    </table>\n    <h2 style=\"color:#1a1a2e\">📋 Detalle de la obra</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px;margin-bottom:16px\">\n      <tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Superficie</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.tipo_propiedad }} de {{ $json.numero_m2 }} m²</td></tr>\n      <tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Distribución</b></td><td style=\"padding:8px;border:1px solid #ddd\">{{ $json.distribucion }}</td></tr>\n      {{ $json.n_banos > 0 ? '<tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Baños (' + $json.n_banos + ')</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.precio_banos + ' €</td></tr>' : '' }}\n      {{ $json.n_cocinas > 0 ? '<tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Cocinas (' + $json.n_cocinas + ')</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.precio_cocinas + ' €</td></tr>' : '' }}\n      {{ $json.n_puertas > 0 ? '<tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Puertas (' + $json.n_puertas + ')</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.precio_puertas + ' €</td></tr>' : '' }}\n      {{ $json.n_ventanas > 0 ? '<tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Ventanas (' + $json.n_ventanas + ')</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.precio_ventanas + ' €</td></tr>' : '' }}\n      {{ $json.n_balconeras > 0 ? '<tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Balconeras (' + $json.n_balconeras + ')</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.precio_balconeras + ' €</td></tr>' : '' }}\n      {{ $json.precio_clima > 0 ? '<tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Climatización</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.climatizacion + '<br><b>Total Clima: ' + $json.precio_clima + ' €</b></td></tr>' : '' }}\n      {{ $json.extras_otros > 0 ? '<tr style=\"background:#f5f5f5\"><td style=\"padding:8px;border:1px solid #ddd\"><b>Otros extras</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.otros_extras + '<br><b>Total Extras: ' + $json.extras_otros + ' €</b></td></tr>' : '' }}\n      {{ $json.precio_suelos > 0 ? '<tr><td style=\"padding:8px;border:1px solid #ddd\"><b>Suelos</b></td><td style=\"padding:8px;border:1px solid #ddd\">' + $json.suelos + ' — ' + $json.precio_suelos + ' €</td></tr>' : '' }}\n    </table>\n    <h2 style=\"color:#1a1a2e\">📎 Adjuntos</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:14px\">\n      <tr style=\"background:#f5f5f5\">\n        <td style=\"padding:8px;border:1px solid #ddd\"><b>Planos</b></td>\n        <td style=\"padding:8px;border:1px solid #ddd\">\n          {{ $json.planos_url ? '<a href=\"' + $json.planos_url + '\">' + $json.planos + ' →</a>' : 'No adjunta' }}\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:8px;border:1px solid #ddd\"><b>Fotos</b></td>\n        <td style=\"padding:8px;border:1px solid #ddd\">\n          {{ $json.fotos_url ? '<a href=\"' + $json.fotos_url + '\">' + $json.fotos + ' →</a>' : 'No adjunta' }}\n        </td>\n      </tr>\n    </table>\n  </div>\n  <p style=\"text-align:center;color:#aaa;font-size:12px;margin-top:16px\">Calculadora automática Selarom · Riqueza Digital</p>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Calcular Presupuesto", "type": "main", "index": 0 }]]
    },
    "Calcular Presupuesto": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    }
  }
}
